@mixin  flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin  flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,108,22,1) 0%, rgba(0,212,255,1) 100%);
}

* {
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 auto;
  width: 1000px;
}

.header{
  height: 100px;
  @include flex-center();
}

.menu {
  height: 65px;
  @include flex-center();
  gap: 100px;
  background-color: rgba($color: #287f74, $alpha: 0)
}

.menu-item {
  width: 100px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #000000;
  background-color: #f65ca1;
  color: oldlace;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

.menu-item-disabled{
  width: 100px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #000000;
  background-color: #898687;
  color: oldlace;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

.menu-item:hover{
  background-color: #b4af1b;
  transition: 0.1s;
}

.menu-item:active{
  border: 2px solid #000000;
  transition: 0s;
}

.score-wrapper {
  @include flex-center();
  gap: 80px;
  margin: 15px;
}

.moves, .moves-num, .time, .time-num {
  font-size: 30px; 
}

.game-wrapper{
  margin: 0 auto;
  width: 700px ;
  height: 700px ;
  border: 3px solid #f65ca1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.game-items {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  font-size: 25px;
  background-color: #bdae00;
  animation: showBlock 0.5s linear forwards;
}

.game-item-empty{
  background-color: #bd4500;
  border: 1px solid #000000;
  animation: showBlock 0.5s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-wrapper {
  width: 900px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.frame-size-wrapper{
  width: 900px;
  height: 50px;
  @include flex-center();
}

.frame-size-num {
  width: 30px;
  height: 30px;
  font-size: 25px;
}

.other-sizes-wrapper {
  width: 900px;
  height: 50px;
  @include flex-center();
  gap: 5px;
}

.size-item {
 width: 50px;
 height: 30px;
 font-size: 25px;
 border: 1px solid #f65ca1;
 border-radius: 5px;
}

.green-active {
  background-color: green;
}

.frame-size-text, .other-sizes-text{
  width: 125px;
  height: 32px;
  font-size: 25px;
}

.results-wrapper{
  position: absolute; 
  right: 37vw;
  top: 25vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 500px;
  background-color: orange;
  border: #ffffff 2px solid;
  border-radius: 20px;
}

.results-header{
  margin-top: 10px;
  font-size: 45px;
}

.results-list{
  overflow-y: scroll;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 300px;
  height: 350px;
}

.results-item{
  list-style: none;
  width: 290px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: green;
  border: #000000 2px solid;
  border-radius: 10px;
}

.moves-result{
  font-size: 20px;
  font-weight: 600;
}

.time-result{
  font-size: 20px;
  font-weight: 600;
}

.results-close-btn{
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: #000000 1px solid;
  font-size: 20px;
  background: #fbd9d9;
}

.results-close-btn:hover{
  background-color: #b4af1b;
  transition: 0.1s;
}

.results-close-btn:active{
  border: 2px solid #000000;
  transition: 0s;
}